<div ng-if="!loading && isError" class="error">
  <div ng-if="errorPage" ng-include="errorPage" class="error-page"></div>
  <div ng-if="!errorPage">
    <h3>Net error {{ netCheck.status }}</h3>
    <p>{{ netCheck.config.url }} : {{ netCheck.statusText }}</p>
    <p>{{ netCheck.data.error.description }}</p>
  </div>
</div>
<div ng-if="!loading && !isError">
  <ng-transclude />
</div>
<div ng-if="loading">
  <div style="text-align: center; padding-top: 1em;">
    <ion-spinner></ion-spinner>
  </div>
</div>
